.column {
    width: 50%;

}


.row {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 320px) {
    .column {
        display: flex;
        flex-direction: column;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
}
