@media only screen and (max-width: 650px) {
    img{
        height: 450px;
        width: 600px;
    }
}
@media only screen and (max-width: 400){
    img{
        height: 100px;
        width: 300px;
    }
}
.scale-down {
    object-fit: scale-down;
  }